[submodule "ABC-Strategie-GitHub/abc_server-ux"]
	path = ABC-Strategie-GitHub/abc_server-ux
	url = git@github.com:ABC-Strategie-GitHub/abc_server-ux.git
	branch = main

[submodule "AlessandroSkab/demo-contabilita-italiana-Odoo-14"]
	path = AlessandroSkab/demo-contabilita-italiana-Odoo-14
	url = git@github.com:AlessandroSkab/demo-contabilita-italiana-Odoo-14.git
	branch = main

[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 14.0
